@import 'bourbon'; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$texture1: url('');
$texture2: url('');   
$color-1: #2e638c; // Blue
$color-2: #5c9117; // Green

$color-3: #269acc; // blue2
$color-4: #78be1f; // green2
$color-primary: $color-1;
$color-secondary: $color-2;
$color-primary-accent: $color-3;
$color-primary-accent2: $color-4;
$head1: 1.5em;
$body: #555; // Body text 

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'proxima-nova', sans-serif;
$secondary-font: 'proxima-nova', sans-serif;
img, svg {
    max-width: 100%;
    height: auto;
}
.alignleft, .alignright, {
	margin: 0 0 1em;
	display:block;
    @include MQ(M) {
		
	}
}
.alignright {
    @include MQ(M) {
		margin:0 0 1.5em 1.5em;
	}
}
.aligncenter {
	margin: 0 auto 1em;
	display: block;
}
@media (min-width:992px) {
	.alignleft {
		float: left;
		margin: 0 1em 1em 0;
	}
	.alignright {
		float: right;
		margin: 0 0 1em 1em;
	}
}

/* -------------------------------- 

xBackground 

-------------------------------- */
html {
	font-size: 100%;
}
body {
	/* this is the page background */
	background-color: white;
	font-size: 1em;
	color: $body;
	font-family: $primary-font;
	@include MQ(S) {
	}
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid #ddd;
	border-radius: 3px;
	background: white;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 1.5em;
}

.cd-box.rev {
    background:black;
    border:none;
}




/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2, h3, h4, h5 {
	font-family: $primary-font;
	color: #555;
}
h1 {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 .4em;

	
	@include MQ(M) {
		font-size: 2.125em;
	}
}
h2 {
    @extend h1;
    font-size:1.5em;
    color:$color-1;
	@include MQ(M) {
		font-size: 2.25em;
	}
}
h3 {
    @extend h1;
    font-size: 1.25em;
    font-weight:bold;
    @include MQ(S) {
		font-size: 1.25em;
	}
	@include MQ(M) {
		font-size: 1.5em;
	}
}
h4 {
    @extend h1;
    font-size: 1.125em;
    
	@include MQ(M) {
		font-size: 1.25em;
	}
}
h5 {
    @extend h1;
    font-size: 1em;
    font-weight:bold;
    
}
section > h2 {
    font-size:1.25em;
}
section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
    
}
a {
	color: $color-1;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
p {
	line-height: 1.6;
	margin: 0 0 1.5em;

}
ul, ol {
	padding-left: 1.5em;
	
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
li {
	
	line-height: 1.6;
	margin: 0 0 1em;
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	border: none;
	box-shadow: none;
	border-radius: 0;
    font-weight:bold;
    text-transform:uppercase;
	text-decoration: none;
    text-shadow:none;
	font: {
		size: 1.125em;
		family: $secondary-font;
	}
	color: #fff;
	padding: .6em 2.2em .3em;
	cursor: pointer;
	background: $color-2;
	display: inline-block;
	&:focus {
		outline: none;
	}

	&:hover {
		background: lighten($color-1, 10%);
		color: #fff;
		text-decoration: none;
	}

	

	@include MQ(S) {
		
	}
}
.btn-v2 {
    @extend .btn;
		background: $color-2;

		.no-touch &:hover {
			background: lighten($color-2, 10%);
		}
	}
.btn-v3 {
    @extend .btn;
		background: $alert;

		.no-touch &:hover {
			background: lighten($color-3, 10%);
		}
	}
.btn-v4 {
    @extend .btn;
		color: $color-1;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-1;

		.no-touch &:hover {
			color: $color-3;
			background: $color-1;
		}
	}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-1;
}


/* -------------------------------- 

xForm 

-------------------------------- */

input[type=text], select, textarea {
	border: 1px solid $color-4;
	border-radius: 0;
	background: #fff;

	&:focus {
		outline: none;
	}
}
input[type="submit"] {
	@extend .btn;
}
textarea {
    padding: 5px 5px 5px 8px;
}

input[type=text] {
	padding: .6em 1em;
	box-shadow: inset 1px 1px rgba(#000, .03);

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		border-color: $color-1;
		box-shadow: 0 0 6px rgba($color-1, .2);
	}
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radio-label,
.checkbox-label,  {
	padding-left: 24px;
	//@include user-select(none);
	user-select: none;
	&::before,
	&::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		//@include transform(translateY(-50%));
		transform: translateY(-50%);
	}

	&::before {
		left: 0;
		border: 1px solid $color-4;
		box-shadow: inset 1px 1px rgba(#000, .03);
	}

	&::after {
		left: 3px;
		background: url('../assets/form/icon-check.svg') no-repeat center center;
		display: none;
	}
}
.radio-label {
    &::after {
		background: url('../assets/form/icon-bullet.svg') no-repeat center center;
	}
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox-label::before {
	border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
	background-color: white;
	box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	display: block;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	
	transform: translateY(-50%);
	display: block;
	width: 16px;
	height: 16px;
	background: url('../assets/form/icon-select.svg') no-repeat center center;
	pointer-events: none;
}

select {
	position: relative;
	padding: .6em 2em .6em 1em;
	cursor: pointer;
	
	appearance:none;
	-webkit-appearance:none;
}
/** table **/
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #D4d4d4;
    margin: 0 0 1.5em;
	th, td {
		padding: 2px 5px;
		border: 1px solid #d4d4d4;
	}
}
