/*Unified Theme CSS*/

/*Optimized Bootstrap*/
/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "../../zombie/scss/bootstrap/variables";
@import "../../zombie/scss/bootstrap/mixins";
@import "../../zombie/scss/bootstrap/custom";
@import "../../zombie/scss/adminbar2";
@import "../../zombie/scss/dashicons";
// Reset and dependencies
@import "../../zombie/scss/bootstrap/normalize";
@import "../../zombie/scss/bootstrap/print";

// Core CSS
@import "../../zombie/scss/bootstrap/reboot";
//@import "../scss/bootstrap/type";
//@import "../scss/bootstrap/images";
//@import "../scss/bootstrap/code";
@import "../../zombie/scss/bootstrap/grid";
//@import "../scss/bootstrap/tables";
//@import "../scss/bootstrap/forms";
//@import "../scss/bootstrap/buttons";
// Components
@import "../../zombie/scss/bootstrap/transitions";
@import "../../zombie/scss/bootstrap/dropdown";
//@import "../scss/bootstrap/button-group";
//@import "../scss/bootstrap/input-group";
//@import "../scss/bootstrap/custom-forms";
@import "../../zombie/scss/bootstrap/nav";
@import "../../zombie/scss/bootstrap/navbar";
//@import "../../zombie/scss/bootstrap/card";
//@import "../scss/bootstrap/breadcrumb";
//@import "../scss/bootstrap/pagination";
//@import "../scss/bootstrap/badge";
//@import "../scss/bootstrap/jumbotron";
//@import "../../zombie/scss/bootstrap/alert";
//@import "../scss/bootstrap/progress";
//@import "../scss/bootstrap/media";
//@import "../scss/bootstrap/list-group";
//@import "../scss/bootstrap/responsive-embed";
//@import "../scss/bootstrap/close";
@import "../../zombie/scss/bootstrap/ie9fix";
.tribe-events-sub-nav li a{background:#000;color:#fff}

.ie {
    .cardwarp {
        float: left;
    }
}
// Components w/ JavaScript
//@import "../scss/bootstrap/modal";
//@import "../scss/bootstrap/tooltip";
//@import "../scss/bootstrap/popover";
//@import "../scss/bootstrap/carousel";
 
// Utility classes
@import "atoms.scss";
@import "../../zombie/scss/bootstrap/utilities";
@import "../../zombie/scss/bxslider";
//NGF Custom Addons: 5 Column Grid
@import "../../zombie/scss/ngf/5col";
//Styles for Atoms 
@import "../../zombie/scss/forms"; 
//@import '../../zombie/scss/lightboxsettings';
//@import '../../zombie/scss/lightboxmain';
//@import '../../zombie/scss/tribe';
@import "templates";
//Styles for Atoms 

hr {
    clear: both;
}
html, body {
    overflow-x: hidden;
}
.btn {
    padding: .6em 2.2em .5em;
}
#subheader {
    text-align:center;
    background: #6ea028;
    background: -moz-linear-gradient(top, #8cc43e 0%, #6ea028 100%);
    background: -webkit-linear-gradient(top, #8cc43e 0%, #6ea028 100%);
    background: linear-gradient(to bottom, #8cc43e 0%, #6ea028 100%);
    color:#fff;
    padding:2px 0 0;
    a {
        color:#fff;
    }
    .social.fontawesome a {
        font-size: 1em;
    }
}
#header {
	border-bottom: 1px solid #e8e8e8;
	.row {
		align-items: center;
	}
    padding:10px 0;
    .text-lg-left a {
            display: flex;
    }
    .text-lg-right {
		.cta {
			font-size:1.25em;
			font-weight:300;
			color:$color-1;
			
			.phone {
					color:$color-2;
					font-weight:bold;
					display:block;
			}	
		}
		
    }
    svg {
        max-width:300px;
        margin:0 auto;
    }

	
    
}
#navigation {
	.navbar {
		padding: 0;
		display: block;
		text-align: right;
	}

	.navbar-nav {
		width: 100%;
		flex: 0 0 100%;
		justify-content: flex-end;
		li {
			display: block;
			margin: 0;
			a {
				text-transform: uppercase;
				color: inherit;
				font-weight: bold;
				text-decoration: none;
				font-size: .8125em;
				line-height: 1em;
				padding: .5em 0 .5em 1em;
				&:hover {
					color: $color-1;
					
					
				}
			}
		}
		.dropdown-menu {
			border-radius: 0;
			margin: 0;
			padding: 0;
			box-shadow: none;
			
		}
	}
}
#tradeschool-hero {
    .slide {padding:3em 0;}
    .caption {
        position:relative;
    }
    h2 {
        font-weight:bold;
        line-height:1.1;
            color: #98d147!important;
   
        strong {
            display:inline-block;
            font-size:75%;
            color:white;
        }
    }
    p {
        color:white;
        font-size:1.125em;
    }
    
}
#tradeschool-value {
    padding:3em 0;
    h1 {
        margin:0;
        font-size:1.5em;
        color:#2e638c;
    }
    p {
        font-size:1.125em;
    }
}
#tradeschool-features {
    .container {
        max-width:100%;
        width:100%;
        .col-md-4 {
            padding:0;
            width:100%;
			display: flex;
        }
		a {
			text-decoration: none;
			
		}
        .title {
            
           	text-align: center;
			display: block;
			width: 100%;
			color: white;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
			padding: 1em;
			
			.inner {
				font-size:1.625em;
				line-height: 1.2em;	
				text-transform:uppercase;
				font-weight:bold;
			}
        }
        a {
            display: flex;
			width: 100%;
            &:hover {
                .block-feature {box-shadow:none;}
            }
        }
		.block-feature {
			
			&:before {
				padding-top: 70%;
				content: '';
			}
			width: 100%;
			display: flex;
			
			align-items: center;
			
			background-size:cover;
            background-position:center;
            box-shadow:inset -10000px 0 rgba(0,0,0,.25);
            
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
		}
    }
    padding:0;
}
#tradeschool-testimonials {
	background-color: #f1f1f1;
	background-image: url(../img/testi-bg.webp);
    border-top: 1px solid #ebebeb;
	h2 {
		text-align: center;
		color: inherit;
	}
	.testimonial {
		img {
			width: 70px;
			height: 70px;
			display: block;
			margin: 0 auto 1em;
			border-radius: 100px;
		}
		padding: 20px 15px;
		.inner  {
			padding: 30px 15px 15px;
			position: relative;
			text-align: center;
			&:before {
				display: inline-block;
				background: #5c9117;
				width: 35px;
				height: 35px;
				line-height: 55px;
				color: #fff;
				content: '"';
				text-align: left;
				text-indent: 4px;
				position: absolute;
				top: -15px;
				left: 15px;
				font-size: 3em;
				font-weight: bold;
				font-style: italic;
			}
			p {
				font-size: .8125em;
			}
			background: #fff;
			box-shadow: 0px 0px 5px rgba(#000,.20);
			strong {
				font-size: 1.15em;
				color: $color-2;
			}
		}
	}
}
#tradeschool-cta {
	
	background-color: #f1f1f1;
	background-image: url(../img/cta-bg.webp);
	.left-content {
		order: 2;
		text-align: center;
			h2 {
				margin-top: 1em;
			color: $color-2;
			font-weight: bold;
		}

		p {
			color: $color-1;
			font-weight: bold;
			font-size: 2em;
		}
		a {
			@extend .btn;
			font-size: .5em;
			
		}
	}
	.right-content {
		p, img {
			margin: 0;
		}

	}
	
}
#tradeschool-blog-feed {
	padding: 0;
	h3 {
		color: inherit;
	}
	.postwrap {
		background: #f1f1f1;
		color: inherit;
		text-decoration: none;
		&:hover {
			.post {
				box-shadow: none;		
			} 
		}
		
	}
	.row {
		margin: 0;
	}

	.col-md-6 {
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.post {
		
		display: block;
		color: #fff;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.post.noimage {
		background-size: 80%;
	}
	.overlay {
		padding: 1em;
	}
	
	.left {
		.post {
			height: 400px;
			.overlay {
				box-shadow: inset 0 1000vh rgba(#000,.6);	
			}
			&:hover {
				.overlay {
					box-shadow: none;
				}
			}
		}
		h3 {
			font-size: 2em;
			line-height:1.2;
		}
		p {
			font-size: 1.125em;	
		}
		
	}
	
	.right {
		.post {
			height: 160px;	
			box-shadow: inset 0 1000vh rgba(#000,.6);
			&:hover {
				box-shadow: none;
			}
			
			
		}
		p {
			display: none;
		}
		h3 {
			
			font-size: 1.25em;
			font-weight: normal;
			&:after {
				content: '>';
				font-weight: bold;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 3px 5px;
			}
		}	
		span.learnmore {
			display: none;
		}
	}
	
	


}
#tradeschool-about {
    p {
        font-size:1.125em;
    }
}
.offer_duo {
	.name_first, .name_last {
		margin: 0;
		padding: 0 !important;
		width: 100% !important;
	}
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), select, textarea {
    width: 100%;
    border: 1px solid #d4d4d4;
}
.offer_duo {
	.gform_wrapper {
		p {
			display: inline;
		}

		br {
			display: none;
		}
	}
}
#content {
	
	#searchform {
		label {
			@extend .sr-only;
		}
		margin: 0 0 1.5em;
		&>div {
			display: flex;
		}
		input[type="submit"] {
			padding: 1em;
			font-size: .875em;
		}
	}
	.page_title {
		background-image: url(../img/default-hero.webp);
	}
	.feedpost {
		h2 {
			margin: 0;
			font-weight: bold;
		}
		.date {
			font-size: .875em;
		}
		.row {
			
			
		}
		padding: 0 15px 1.5em;
		margin: 0 0 1.5em;
		border-bottom: 1px solid #d4d4d4;
	}
}
#tradeschool-affils {
	.cardwrap {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.image {
		padding-bottom: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	h2 {
		text-align: center;
		margin: 0 0 40px;
	}
}
#tradeschool-callout {
	text-align: center;
	.left-content, right-content {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.left-content {
		font-size: 1.125em;
	}
    padding: 1em;
    background: $color-1;
    color: #fff;
	.btn {
		display: block;
		font-size: .94em;
		padding: 1em;
		text-align: center;
	}
    h2, h3, h4 {
        color:white;
            margin-top: 7px;
    }
}
.page-id-7 #tradeschool-hero .slide {
        background-position-x: 760px;
}



@media (min-width:768px) {
	#tradeschool-cta {
		
		.left-content {
			order: 0;
			flex: 0 0 66.66667%;
			max-width: 66.66667%;
			h2 {
				font-size: 1.875em;
			}
			p {
				margin: 0 0 1em;
				font-size: 3em;
			}
		}
		.right-content {
			p, img {
				margin: 0;
			}
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
		
	}
    #subheader {
        .left {text-align:left;}
        .right {
            text-align:right;
        }
    }
    #header {
        padding:10px 0;
       .text-lg-right {
            .cta {
                font-size:1.5em;
                font-weight:300;
                color:$color-1;

                .phone {
                        color:$color-2;
                        font-weight:bold;
                        display:inline-block;
                }	
            }

        }
    }
    #tradeschool-value {
        padding:4em 0;
        h1 {
            font-size: 2.5em;
        }
    }
    #tradeschool-hero {
        h2 {
            font-size:2.75em;
        }
        .slide {
            padding:10em 0 12em;
        }
    }
	#tradeschool-testimonials {
		h2 {
			margin: 0 0 45px;
		}
	}
	#tradeschool-blog-feed {
		.left {
			.postwrap {
				height: 100%;
				
			}
			.post {
				height: 100%;
			}
			.btn {
				font-size: .7270em;
			}
		}
	}
	#tradeschool-affils {
		.cardwrap {
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
    .page-id-7 #tradeschool-hero .slide {
        background-position-x: center;
}
}
#content {
	.feedpost {
		h2 {
			font-size: 1.875em;
		}
	}
}

#footer {
    padding: 2em 0;
    color: #767676;
	border-top: 1px solid $color-1;
	

	ul {
		padding: 0;
	}

	li {
		display: block;
		font-size: .875em;
	}

	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			color: $color-2;
		}
	}

	.slb {
		font-size: .875em;
	}

	.title {
		font-size: 1.125em;
		color: red;
		color: $color-2;
		font-weight: bold;
		text-transform: uppercase;
	}

	.logo {
		max-width: 200px;
		margin: 0 0 10px;
		display: block;
	}

	p {
		margin: 0;
	}
	
}
.bx-wrapper .bx-controls-direction {
	a {
		background-image: url(../img/controls.svg);
		
		background-position: 0 0;
		background-size: 98px;
	}
	.bx-next {
		background-position: -45px 0px;
	}
}
#copyright {
		background: $color-1;
	a {
		text-decoration: underline;
		padding: 0;
		&:hover {
			text-decoration: none;
			
		}
	}
	li a {
		padding: 0 5px;
	}
}
@media (max-width:991px) {
	
	#header {
		.container {
			width: 100%;
		}
	}
	#navigation {
		.navbar-collapse  {
			
			padding: 0 15px;
		}
		text-align: left;
		margin: 10px -15px -10px;
		a {
			color: #fff;
		}
		button.navbar-toggler {
			color: #fff;
			font-size: .94em;
			text-transform: uppercase;
			font-weight: bold;
			padding: 20px 15px;
		}

		span.navbar-toggler-icon {
			display: none;
		}
		.navbar-nav {
			
			li {
				display: block;
				margin: 0;

				a {

					color: #fff;
					&:hover {
						color: #fff;
					}
				}
			}
			.dropdown-menu {
				background: $color-1;
				text-align: right;
				
			}
		}
		
		color: #fff;
		background: $color-1;
	}
}
@media (min-width:992px) {
	.offer_duo {
		.left-content {
			flex: 0 0 66.66667%;
			max-width: 66.66667%;
		}
		.right-content {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
	}
	#tradeschool-callout {
		padding: 0;
		.row {
			flex-wrap: nowrap;
			align-items: center;
		}
		p {
			margin: 0;
		}
		.left-content {
			flex: 0 0 66.66667%;
			max-width: 66.66667%;
			text-align: right;
		}
		.right-content {
			flex: 0 0 33.33333%;
			max-width: 33.3333%;
			text-align: left; 
			.btn {
				display: inline-block;
				padding: 1.5em 3em;
			}
			
		}
	}
	#tradeschool-testimonials {
		
		.slider {
			transform: none !important;
			width: 100% !important;
			display: flex;
		}

		.testimonial {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
			
			display: flex;
			
		}
		.inner {
			width: 100%;
		}
	}
    #tradeschool-hero {
        h2 {
            font-size:3.125em;
        }
        .slide {
            padding:10em 0 12em;
        }
        .inner {
            max-width:900px;
        }
    }
}
@media (min-width:1200px) {
	#tradeschool-callout {
		.left-content {
			
		}
		.right-content {
			.btn {
				font-size: 1em;
				
			}
		}
	}
}