.ie {
    .row {
        &:before, &:after {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
        float:left;
    }
    .navbar-toggleable {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-down($breakpoint) {
            .navbar-nav {
              .dropdown-menu {
                position: static;
                float: none;
              }
            }

            > .container {
              padding-right: 0;
              padding-left: 0;
            }
          }

          @include media-breakpoint-up($next) {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            .navbar-nav {
              flex-direction: row;

              .nav-link {
                padding-right: .5rem;
                padding-left: .5rem;
              }
            }

            // For nesting containers, have to redeclare for alignment purposes
            > .container {
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
            }

            // scss-lint:disable ImportantRule
            .navbar-collapse {
              display: block !important;
              width: 100%;
            }
            // scss-lint:enable ImportantRule

            .navbar-toggler {
              display: none;
            }
          }
        }
      }
    }
}