#footer.four_column {
    padding: 1em 0;
    background: $color2;
    color: #fff;
    a {
        color: inherit;
    }
    .menu {
        .title {
            display: block;
            font-size: 1.25em;
            font-weight: bold;
        }
        ul {
            margin: 0 0 1em;
            padding: 0;
            max-width: 100%;
            li {
                display: block;
                a {
                    padding: 0;
                    text-decoration: none;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
    .slb {
        margin: 0 0 1em;
        p {
            margin: 0;
        }
    }
}
