#wpadminbar,
#wpadminbar * {
    font-size: .813em;
    font-weight: 400;
    line-height: 32px
}

#wpadminbar * {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: none;
    transition: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.rtl #wpadminbar * {
    font-family: Tahoma, sans-serif
}

html:lang(he-il) .rtl #wpadminbar * {
    font-family: Arial, sans-serif
}

#wpadminbar .ab-empty-item {
    cursor: default;
    outline: 0
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
    color: #eee
}

#wpadminbar #wp-admin-bar-my-sites a.ab-item,
#wpadminbar #wp-admin-bar-site-name a.ab-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#wpadminbar ul li:after,
#wpadminbar ul li:before {
    content: normal
}

#wpadminbar a,
#wpadminbar a img,
#wpadminbar a img:hover,
#wpadminbar a:hover {
    outline: 0;
    border: none;
    text-decoration: none;
    background: 0 0
}

#wpadminbar a:active,
#wpadminbar a:focus,
#wpadminbar div,
#wpadminbar input[type=text],
#wpadminbar input[type=password],
#wpadminbar input[type=number],
#wpadminbar input[type=search],
#wpadminbar input[type=email],
#wpadminbar input[type=url],
#wpadminbar select,
#wpadminbar textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

#wpadminbar {
    font-size:2em;
    direction: ltr;
    color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #23282d
}

#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li {
    background: 0 0;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999
}

#wpadminbar ul#wp-admin-bar-root-default>li {
    margin-right: 0
}

#wpadminbar .quicklinks ul {
    text-align: left
}

#wpadminbar li {
    float: left
}

#wpadminbar .quicklinks .ab-top-secondary>li {
    float: right
}

#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
    height: 32px;
    display: block;
    padding: 0 10px;
    margin: 0
}

#wpadminbar .quicklinks>ul>li>a {
    padding: 0 8px 0 7px
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    background: #32373c;
    display: none;
    position: absolute;
    float: none
}

#wpadminbar .selected .shortlink-input,
#wpadminbar li.hover>.ab-sub-wrapper,
#wpadminbar.nojs li:hover>.ab-sub-wrapper {
    display: block
}

#wpadminbar.ie7 .menupop .ab-sub-wrapper,
#wpadminbar.ie7 .shortlink-input {
    top: 32px;
    left: 0
}

#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
    min-width: 100%
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
    right: 0;
    left: auto
}

#wpadminbar .ab-submenu {
    padding: 6px 0
}

#wpadminbar .quicklinks .menupop ul li {
    float: none
}

#wpadminbar .quicklinks .menupop ul li a strong {
    font-weight: 600
}

#wpadminbar .quicklinks .menupop ul li .ab-item,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li .ab-item,
#wpadminbar .shortlink-input,
#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item {
    line-height: 26px;
    height: 26px;
    white-space: nowrap;
    min-width: 140px;
    font-size:1.5em;
}

#wpadminbar .shortlink-input {
    width: 200px
}

#wpadminbar .menupop li.hover>.ab-sub-wrapper,
#wpadminbar .menupop li:hover>.ab-sub-wrapper {
    margin-left: 100%;
    margin-top: -32px
}

#wpadminbar .ab-top-secondary .menupop li.hover>.ab-sub-wrapper,
#wpadminbar .ab-top-secondary .menupop li:hover>.ab-sub-wrapper {
    margin-left: 0;
    left: inherit;
    right: 100%
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: #32373c;
    color: #00b9eb
}

#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label {
    color: #00b9eb
}

#wpadminbar .ab-icon,
#wpadminbar .ab-item:before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
    position: relative;
    float: left;
    font: 400 1.25em/1 dashicons;
    speak: none;
    padding: 4px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none!important;
    margin-right: 6px
}

#wpadminbar #adminbarsearch:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
    color: #a0a5aa;
    color: rgba(240, 245, 250, .6);
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

#wpadminbar .ab-label {
    display: inline-block;
    height: 32px
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #b4b9be;
    color: rgba(240, 245, 250, .7)
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #00b9eb
}

#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
    color: #b4b9be
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
    color: #00b9eb
}

#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item:before,
#wpadminbar .menupop .menupop>.ab-item:before {
    position: absolute;
    font: 400 1.063em/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#wpadminbar .menupop .menupop>.ab-item {
    display: block;
    padding-right: 2em
}

#wpadminbar .menupop .menupop>.ab-item:before {
    top: 1px;
    right: 4px;
    content: "\f139";
    color: inherit
}

#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item {
    padding-left: 2em;
    padding-right: 1em
}

#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item:before {
    top: 1px;
    left: 6px;
    content: "\f141"
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
    display: block;
    position: relative;
    right: auto;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #464b50
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus a,
#wpadminbar .quicklinks .menupop .ab-sub-secondary>li>a:hover {
    color: #00b9eb
}

#wpadminbar .quicklinks a span#ab-updates {
    background: #eee;
    color: #32373c;
    display: inline;
    padding: 2px 5px;
    font-size: .625em;
    font-weight: 600;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

#wpadminbar .quicklinks a:hover span#ab-updates {
    background: #fff;
    color: #000
}

#wpadminbar .ab-top-secondary {
    float: right
}

#wpadminbar ul li:last-child,
#wpadminbar ul li:last-child .ab-item {
    -webkit-box-shadow: none;
    box-shadow: none
}

#wp-admin-bar-my-account>ul {
    min-width: 198px
}

#wp-admin-bar-my-account>.ab-item:before {
    content: "\f110";
    top: 2px;
    float: right;
    margin-left: 6px;
    margin-right: 0
}

#wp-admin-bar-my-account.with-avatar>.ab-item:before {
    display: none;
    content: none
}

#wp-admin-bar-my-account.with-avatar>ul {
    min-width: 270px
}

#wpadminbar.ie8 #wp-admin-bar-my-account.with-avatar .ab-item {
    white-space: nowrap
}

#wpadminbar #wp-admin-bar-user-actions>li {
    margin-left: 16px;
    margin-right: 16px
}

#wpadminbar #wp-admin-bar-user-actions.ab-submenu {
    padding: 6px 0 12px
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
    margin-left: 88px
}

#wpadminbar #wp-admin-bar-user-info {
    margin-top: 6px;
    margin-bottom: 15px;
    height: auto;
    background: 0 0
}

#wp-admin-bar-user-info .avatar {
    position: absolute;
    left: -72px;
    top: 4px;
    width: 64px;
    height: 64px
}

#wpadminbar #wp-admin-bar-user-info a {
    background: 0 0;
    height: auto
}

#wpadminbar #wp-admin-bar-user-info span {
    background: 0 0;
    padding: 0;
    height: 18px
}

#wpadminbar #wp-admin-bar-user-info .display-name,
#wpadminbar #wp-admin-bar-user-info .username {
    display: block
}

#wpadminbar #wp-admin-bar-user-info .username {
    color: #a0a5aa;
    font-size: .688em;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
    width: auto;
    height: 16px;
    padding: 0;
    border: 1px solid #82878c;
    background: #eee;
    line-height: 24px;
    vertical-align: middle;
    margin: -4px 0 0 6px;
    float: none;
    display: inline
}

#wpadminbar.ie8 #wp-admin-bar-my-account.with-avatar>.ab-empty-item img,
#wpadminbar.ie8 #wp-admin-bar-my-account.with-avatar>a img {
    width: auto
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon {
    width: 15px;
    height: 20px;
    margin-right: 0;
    padding: 6px 0 5px
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item {
    padding: 0 7px
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
    content: "\f120";
    top: 2px
}

#wpadminbar .quicklinks li .blavatar {
    float: left;
    font: 400 1em/1 dashicons!important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks li a:hover .blavatar {
    color: #00b9eb
}

#wpadminbar .quicklinks li .blavatar:before {
    content: "\f120";
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 6px 8px 0 -2px
}

#wpadminbar #wp-admin-bar-appearance {
    margin-top: -12px
}

#wpadminbar #wp-admin-bar-my-sites>.ab-item:before,
#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\f541";
    top: 2px
}

#wpadminbar #wp-admin-bar-customize>.ab-item:before {
    content: "\f540";
    top: 2px
}

#wpadminbar #wp-admin-bar-edit>.ab-item:before {
    content: "\f464";
    top: 2px
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\f226"
}

.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\f102"
}

#wpadminbar #wp-admin-bar-comments .ab-icon {
    margin-right: 6px
}

#wpadminbar #wp-admin-bar-comments .ab-icon:before {
    content: "\f101";
    top: 3px
}

#wpadminbar #wp-admin-bar-comments .count-0 {
    opacity: .5
}

#wpadminbar #wp-admin-bar-new-content .ab-icon:before {
    content: "\f132";
    top: 4px
}

#wpadminbar #wp-admin-bar-updates .ab-icon:before {
    content: "\f463";
    top: 2px
}

#wpadminbar.ie8 #wp-admin-bar-search {
    display: block;
    min-width: 32px
}

#wpadminbar #wp-admin-bar-search .ab-item {
    padding: 0;
    background: 0 0
}

#wpadminbar #adminbarsearch {
    position: relative;
    height: 32px;
    padding: 0 2px;
    z-index: 1
}

#wpadminbar #adminbarsearch:before {
    position: absolute;
    top: 6px;
    left: 5px;
    z-index: 20;
    font: 400 1.25em/1 dashicons!important;
    content: "\f179";
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input {
    position: relative;
    z-index: 30;
    font-size: .813em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 24px;
    height: 24px;
    width: 24px;
    max-width: none;
    padding: 0 3px 0 24px;
    margin: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: 0;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: width, background;
    transition-property: width, background;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    z-index: 10;
    color: #000;
    width: 200px;
    background-color: rgba(255, 255, 255, .9);
    cursor: text;
    border: 0
}

#wpadminbar.ie7>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input {
    margin-top: 3px;
    width: 120px
}

#wpadminbar.ie8>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input {
    //background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRâ€Œâ€‹AA7)
}

#wpadminbar.ie8 #adminbarsearch.adminbar-focused:before {
    //content: "\f179 "
}

#wpadminbar.ie8>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    background: #fff;
    z-index: -1
}

#wpadminbar #adminbarsearch .adminbar-button,
.customize-support #wpadminbar .hide-if-customize,
.customize-support .hide-if-customize,
.customize-support .wp-core-ui .hide-if-customize,
.customize-support.wp-core-ui .hide-if-customize,
.no-customize-support #wpadminbar .hide-if-no-customize,
.no-customize-support .hide-if-no-customize,
.no-customize-support .wp-core-ui .hide-if-no-customize,
.no-customize-support.wp-core-ui .hide-if-no-customize {
    display: none
}

#wpadminbar .screen-reader-text,
#wpadminbar .screen-reader-text span {
    position: absolute;
    left: -1000em;
    top: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden
}

#wpadminbar .screen-reader-shortcut {
    position: absolute;
    top: -1000em
}

#wpadminbar .screen-reader-shortcut:focus {
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: .875em;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: #f1f1f1;
    color: #000;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6)
}

* html #wpadminbar {
    overflow: hidden;
    position: absolute
}

* html #wpadminbar .quicklinks ul li a {
    float: left
}

* html #wpadminbar .menupop a span {
    background-image: none
}

.no-font-face #wpadminbar ul.ab-top-menu>li>a.ab-item {
    display: block;
    width: 45px;
    text-align: center;
    overflow: hidden;
    margin: 0 3px
}

.no-font-face #wpadminbar #wp-admin-bar-edit>.ab-item,
.no-font-face #wpadminbar #wp-admin-bar-my-sites>.ab-item,
.no-font-face #wpadminbar #wp-admin-bar-site-name>.ab-item {
    text-indent: 0
}

.no-font-face #wpadminbar #wp-admin-bar-wp-logo>.ab-item,
.no-font-face #wpadminbar .ab-icon,
.no-font-face #wpadminbar .ab-icon:before,
.no-font-face #wpadminbar a.ab-item:before {
    display: none!important
}

.no-font-face #wpadminbar ul.ab-top-menu>li>a>span.ab-label {
    display: inline
}

.no-font-face #wpadminbar #wp-admin-bar-menu-toggle span.ab-icon {
    display: inline!important
}

.no-font-face #wpadminbar #wp-admin-bar-menu-toggle span.ab-icon:before {
    //content: "Menu";
    font: .875em/2.5em sans-serif!important;
    display: inline-block!important;
    color: #fff
}

.no-font-face #wpadminbar #wp-admin-bar-site-name a.ab-item {
    color: #fff
}

@media screen and (max-width:782px) {
    #wpadminbar ul#wp-admin-bar-root-default>li,
    .network-admin #wpadminbar ul#wp-admin-bar-top-secondary>li#wp-admin-bar-my-account {
        margin-right: 0
    }
    html #wpadminbar {
        height: 46px;
        min-width: 300px
    }
    #wpadminbar * {
        font-size: .875em;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        line-height: 32px
    }
    #wpadminbar .quicklinks .ab-empty-item,
    #wpadminbar .quicklinks>ul>li>a {
        padding: 0;
        height: 46px;
        line-height: 46px;
        width: auto
    }
    #wpadminbar .ab-icon {
        font: 2.5em/1 dashicons!important;
        margin: 0;
        padding: 0;
        width: 52px;
        height: 46px;
        text-align: center
    }
    #wpadminbar .ab-icon:before {
        text-align: center
    }
    #wpadminbar .ab-submenu {
        padding: 0
    }
    #wpadminbar #wp-admin-bar-my-account a.ab-item,
    #wpadminbar #wp-admin-bar-my-sites a.ab-item,
    #wpadminbar #wp-admin-bar-site-name a.ab-item {
        text-overflow: clip
    }
    #wpadminbar .ab-label {
        display: none
    }
    #wpadminbar .menupop li.hover>.ab-sub-wrapper,
    #wpadminbar .menupop li:hover>.ab-sub-wrapper {
        margin-top: -46px
    }
    #wpadminbar #wp-admin-bar-comments .ab-icon,
    #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
        margin: 0
    }
    #wpadminbar .ab-top-menu .menupop .ab-sub-wrapper .menupop>.ab-item {
        padding-right: 30px
    }
    #wpadminbar .menupop .menupop>.ab-item:before {
        top: 10px;
        right: 6px
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper .ab-item {
        font-size: 1em;
        padding: 8px 16px
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper a:empty {
        display: none
    }
    #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
        padding: 0
    }
    #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon {
        padding: 0;
        width: 52px;
        height: 46px;
        text-align: center;
        vertical-align: top
    }
    #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
        font: 1.75em/1 dashicons!important;
        top: -3px
    }
    #wpadminbar .ab-icon,
    #wpadminbar .ab-item:before {
        padding: 0
    }
    #wpadminbar #wp-admin-bar-customize>.ab-item,
    #wpadminbar #wp-admin-bar-edit>.ab-item,
    #wpadminbar #wp-admin-bar-my-account>.ab-item,
    #wpadminbar #wp-admin-bar-my-sites>.ab-item,
    #wpadminbar #wp-admin-bar-site-name>.ab-item {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 52px;
        padding: 0;
        color: #a0a5aa;
        position: relative
    }
    #wpadminbar .ab-icon,
    #wpadminbar .ab-item:before,
    #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
        padding: 0;
        margin-right: 0
    }
    #wpadminbar #wp-admin-bar-customize>.ab-item:before,
    #wpadminbar #wp-admin-bar-edit>.ab-item:before,
    #wpadminbar #wp-admin-bar-my-account>.ab-item:before,
    #wpadminbar #wp-admin-bar-my-sites>.ab-item:before,
    #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
        display: block;
        text-indent: 0;
        font: 400 2em/1 dashicons;
        speak: none;
        top: 7px;
        width: 52px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    #wpadminbar #wp-admin-bar-appearance {
        margin-top: 0
    }
    #wpadminbar .quicklinks li .blavatar:before {
        display: none
    }
    #wpadminbar #wp-admin-bar-search {
        display: none
    }
    #wpadminbar #wp-admin-bar-new-content .ab-icon:before {
        top: 0;
        line-height: 53px;
        height: 46px!important;
        text-align: center;
        width: 52px;
        display: block
    }
    #wpadminbar #wp-admin-bar-updates {
        text-align: center
    }
    #wpadminbar #wp-admin-bar-updates .ab-icon:before {
        top: 3px
    }
    #wpadminbar #wp-admin-bar-comments .ab-icon:before {
        display: block;
        font-size: 2.125em;
        height: 46px;
        line-height: 47px;
        top: 0
    }
    #wp-toolbar>ul>li,
    #wpadminbar #wp-admin-bar-user-actions.ab-submenu img.avatar {
        display: none
    }
    #wpadminbar #wp-admin-bar-my-account>a {
        position: relative;
        white-space: nowrap;
        text-indent: 150%;
        width: 28px;
        padding: 0 10px;
        overflow: hidden
    }
    #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
        position: absolute;
        top: 13px;
        right: 10px;
        width: 26px;
        height: 26px
    }
    #wpadminbar #wp-admin-bar-user-actions.ab-submenu {
        padding: 0
    }
    #wpadminbar #wp-admin-bar-user-info .display-name {
        height: auto;
        font-size: 1em;
        line-height: 24px;
        color: #eee
    }
    #wpadminbar #wp-admin-bar-user-info a {
        padding-top: 4px
    }
    #wpadminbar #wp-admin-bar-user-info .username {
        line-height: .8!important;
        margin-bottom: -2px
    }
    #wpadminbar li#wp-admin-bar-comments,
    #wpadminbar li#wp-admin-bar-customize,
    #wpadminbar li#wp-admin-bar-edit,
    #wpadminbar li#wp-admin-bar-menu-toggle,
    #wpadminbar li#wp-admin-bar-my-account,
    #wpadminbar li#wp-admin-bar-my-sites,
    #wpadminbar li#wp-admin-bar-new-content,
    #wpadminbar li#wp-admin-bar-site-name,
    #wpadminbar li#wp-admin-bar-updates,
    #wpadminbar li#wp-admin-bar-wp-logo {
        display: block
    }
    #wpadminbar li.hover ul li,
    #wpadminbar li:hover ul li,
    #wpadminbar li:hover ul li:hover ul li {
        display: list-item
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content
    }
    #wpadminbar #wp-admin-bar-comments,
    #wpadminbar #wp-admin-bar-edit,
    #wpadminbar #wp-admin-bar-my-account,
    #wpadminbar #wp-admin-bar-my-sites,
    #wpadminbar #wp-admin-bar-new-content,
    #wpadminbar #wp-admin-bar-site-name,
    #wpadminbar #wp-admin-bar-updates,
    #wpadminbar #wp-admin-bar-wp-logo,
    #wpadminbar .ab-top-menu,
    #wpadminbar .ab-top-secondary {
        position: static
    }
    #wpadminbar #wp-admin-bar-my-account {
        float: right
    }
    #wpadminbar .ab-top-secondary .menupop .menupop>.ab-item:before {
        top: 10px;
        left: 0
    }
}

@media screen and (max-width:600px) {
    #wpadminbar {
        position: absolute
    }
    #wp-responsive-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 400
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
        width: 100%;
        left: 0
    }
    #wpadminbar .menupop .menupop>.ab-item:before {
        display: none
    }
    #wpadminbar #wp-admin-bar-wp-logo.menupop .ab-sub-wrapper {
        margin-left: 0
    }
    #wpadminbar .ab-top-menu>.menupop li>.ab-sub-wrapper {
        margin: 0;
        width: 100%;
        top: auto;
        left: auto;
        position: static;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    #wpadminbar .ab-top-menu>.menupop li>.ab-sub-wrapper .ab-item {
        font-size: 1em;
        padding: 6px 15px 19px 30px
    }
    #wpadminbar li:hover ul li ul li {
        display: list-item
    }
    #wpadminbar li#wp-admin-bar-updates,
    #wpadminbar li#wp-admin-bar-wp-logo {
        display: none
    }
}

@media screen and (max-width:400px) {
    #wpadminbar li#wp-admin-bar-comments {
        display: none
    }
}