.better-categories div.tabs-panel{max-height:400px}.better-categories li .expander{color:#00a0d2;display:inline-block;padding:0 1em;cursor:pointer}.better-categories li .expander:before{display:inline-block;content:'[+]'}.better-categories li .expander:hover{font-weight:bold}.better-categories .children{height:0;overflow:hidden;transition:height .2s}.better-categories li.open>.expander::before{content:'[-]'}.better-categories li.open>.children{height:auto}
